Requirements:
1 Landing Page
2 Login Page
3 Register Page
4 Contacts Page
5 Messaging Page
6 Basic Appointments
7 Configure Firebase
8 Configure Database for Users
9 Contact Storing
10 Configure Firebase Messaging
11 Add Front End CRUD
Calendar Add
Calendar Delete
Appointment Add
Appointment Delete
12 Create & Implement REST API
13 Basic Back End CRUD abilities
Add Feature
Delete Feature
Update Feature
Read Feature

